@model ShoppingCart.BackOffice.ViewsModels.ProductViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Name)
        </dd>

        <dt>

            @Html.DisplayNameFor(model => model.Product.Category.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Category.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product.Price)

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Providers)
        </dt>

        <dd>
            @if (Model.Product.Providers.Count() != 0)
            {
                <ul>
                    @foreach (var provider in Model.Product.Providers)
                    {
                        <li>@provider.Name</li>
                    }
                </ul>
            }
            else
            {
                <text>No provider selected.</text>
            }
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Product.Image)
        </dt>

        <dd>
            <img src="~/Uploads/images/@Model.ImagePath" alt="@Model.Product.Image.ImageName" />
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Product.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
