@using ShoppingCart.Models.Models.Entities 
@model ShoppingCart.BackOffice.ViewsModels.Workflow.OneCartViewModel 
@{ ViewBag.Title = "Cart Detail"; Layout = "~/Views/Shared/_Layout.cshtml"; }
<script>
    var object = {
        cartId: "@Model.Cart.Id",
        state: "",
        form: {}
    }
    
    var redirect = "";
</script>

<div class="row">
    <div class="row">
        </br>
    </div>
    <div class="col-md-2" style="text-align: center;">
        <a href="/backofficeworkflow/CartPositionAndPossibilities" class="btn btn-info" role="button">
            <span class="glyphicon glyphicon-th-list"></span>
            Back to list
        </a>
    </div>
    <div class="col-md-10">
        <h2 style="text-align: center;">Cart Detail</h2>
    </div>
</div>
<div class="row">
    
</div>

<form role="form">
<div class="row">
    <div class="md-col-6">
        <h3>User : </h3>
    </div>
    <div class="md-col-6">
        <h3>the username </h3>
    </div>
</div>

<div class="row">
    <div class="md-col-12">
        <h3>Items</h3>
    </div>
    @foreach (CartLine c in Model.Cart.CartLines) {
    <div class="md-col-4">
        <!--<h3>c.Product.Name </h3> -->
    </div>
    <div class="md-col-4">
        @c.Quantity
    </div>
    }
</div>
</form>
@if(Model.Forms.Count > 1){

<div> Current status Ongoing on: @Model.status</div>
<div>
    <form role="form">
    @foreach (var f in Model.Forms) {
        if(!f.label.Equals("#text")){    
            <div class="form-group">
                <label for="@f.label">@f.label :</label>
                <input type="@f.type" class="form-control" id="@f.label">
            </div>
        } 
    }
    </form>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Next step: </h3>
            @foreach (var o in Model.Options) {
                    <a href="/BackOfficeWorkflow/MoveState?id=@Model.Cart.Id&&newState=@o.type" class="btn btn-info" role="button">@o.type</a>
            }
    </div>
    
    <div class="col-md-4">
        <h3>Default actions : </h3>
        <a href="/BackOfficeWorkflow/Reset?id=@Model.Cart.Id" class="btn btn-warning" role="button">Reset</a>
        <a href="/BackOfficeWorkflow/Drop?id=@Model.Cart.Id" class="btn btn-danger" role="button">Drop</a>
    </div>
    
    
</div>
}else{

<div> Worflow finished</div>
<div> Cart status @Model.status</div>
<div class="row">
    <div class="col-md-4">
        <h3>Default actions : </h3>
        <a href="/BackOfficeWorkflow/Reset?id=@Model.Cart.Id" class="btn btn-warning" role="button">Reset</a>
        <a href="/BackOfficeWorkflow/Drop?id=@Model.Cart.Id" class="btn btn-danger" role="button">Drop</a>
    </div>
</div>


}