@model ShoppingCart.ViewModels.CategoriesViewModel
@{
    ViewBag.Title = "Categories Page";
}

<div class="row">
    <div class="col-md-4">
        <ul> Categories
        @foreach (var c in Model.Categories)
        {
            <li>
                <div>
                    <h3>@c.Name</h3>
                </div>
            </li>
        }
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        @if (Model.SelectedCategories.Any() && Model.Categories.Any())
        {
            foreach (var p in Model.SelectedCategories.First().Products)
             {
                 <div>
                     <h3>@p.Name</h3>
                     <p>@p.Price</p>
                 </div>
             }
        }
        else if (!Model.Categories.Any())
        {
            foreach (var p in Model.Categories.First().Products)
            {
                <div>
                    <h3>@p.Name</h3>
                    <p>@p.Price</p>
                </div>
            }
        }
        else
        {
            <div>There is no category yet. Pease contact the administrator to ad new categories</div>
        }
    </div>
</div>
