@model ShoppingCart.CommonController.ViewModels.ExternalLoginListViewModel
@using Microsoft.Owin.Security
<style>
    .socialnetwork-container-space{
        margin: 20px 0;
    }
</style>
<script>
    window.onload = function () {
        var button1 = document.getElementById("Google");
        button1.classList.add("btn-danger");
        var button2 = document.getElementById("Facebook");
        button2.classList.add("btn-primary");
        var button3 = document.getElementById("Microsoft");
        button3.classList.add("btn-default");
        var button4 = document.getElementById("Twitter");
        button4.classList.add("btn-info");
    }
</script>
<h4>Use another service to log in.</h4>
<hr />
@{
    var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
    if (!loginProviders.Any()) {
        <div>
            <p>
                There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                for details on setting up this ASP.NET application to support logging in via external services.
            </p>
        </div>
    }
    else {
        using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = Model.ReturnUrl })) {
            @Html.AntiForgeryToken()
            <div id="socialLoginList">
                <p>
                    @foreach (AuthenticationDescription p in loginProviders) {
                        <div class="socialnetwork-container-space">
                            <button type="submit" class="btn" id="@p.AuthenticationType" name="provider" value="@p.AuthenticationType" title="Log in using your @p.Caption account">
                                @switch (p.AuthenticationType)
                                {
                                    case "Facebook":
                                        <img src="~/Content/fb.png" />
                                        break;
                                    case "Google":
                                        <img src="~/Content/google.png" />
                                        break;
                                    case "Microsoft":
                                        <img src="~/Content/microsoft.png" />
                                        break;
                                    case "Twitter":
                                        <img src="~/Content/twitter.png" />
                                        break;
                                }
                                Login using @p.AuthenticationType
                            </button>
                       </div>
                    }
                </p>
            </div>
        }
    }
}
