@model IEnumerable<ShoppingCart.BackOffice.ViewsModels.StockHistoryViewModel>

@{
    ViewBag.Title = "Stock History";
}

<h2>Stock History</h2>

<table class="table productList">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Image.ImageName)
        </th>
        <th>
            Category
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Providers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.CreatedBy)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class=" @if(item.ChangedType == "Edit") { ".info"}  ">
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                <img src="~/Uploads/images/@item.ImagePath" alt="@item.Product.Image.ImageName" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Category.Name)
            </td>
            <td>
                @{
                    var last = item.Product.Providers.Last();
                }

                @foreach (var provider in item.Product.Providers)
                {
                    @Html.DisplayFor(modelItem => provider.Name)

                    if (provider != last)
                    {
                        <span> / </span>
                    }
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.DateCreated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangedType)
                @Html.ActionLink("Edit", "Edit", new { id = item.Product.Id }, new { @class = "btn btn-warning btn-xs" })
                @Html.ActionLink("Details", "Details", new { id = item.Product.Id }, new { @class = "btn btn-success btn-xs" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Product.Id }, new { @class = "btn btn-danger btn-xs" })
            </td>
        </tr>
                    }

</table>
