@using ShoppingCart.Models.Models.User
@using ShoppingCart.BackOffice.Infrastructure
@using ShoppingCart.BackOffice.ViewsModels
@model ICollection<RoleIndexModel>
@{ 
    ViewBag.Title = "Roles"; 
}

<h2>Roles</h2>
<p style="margin-bottom:10px;">
    @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-primary" })
</p>
    <table class="table">
        <tr><th>ID</th><th>Name</th><th>Users</th><th></th></tr>
        @if (Model.Count == 0)
        {
            <tr><td colspan="4" class="text-center">No Roles</td></tr>
        }
        else {
            foreach (RoleIndexModel vm in Model)
            {
                <tr>
                    <td>@vm.Role.Id</td>
                    <td>@vm.Role.Name</td>
                    <td>
                        @if (vm.Users.Count == 0)
                        {
                            @: No Users in Role
}
                        else {
                            <p>
                                @string.Join(", ", vm.Users.Select(x => Html.GetUserName(x.Id)))
                        </p>
                        }
                    </td>
                    <td>
                        @using (Html.BeginForm("Delete", "Role", new { id = vm.Role.Id }))
                        {
                            @Html.ActionLink("Edit", "Edit", "Role", new { id = vm.Role.Id }, new { @class = "btn btn-primary btn-xs" })
                            <button class="btn btn-danger btn-xs"
                                    type="submit">
                                Delete
                            </button>
                        }
                    </td>
                </tr>
            }
        }
    </table>

