@{
    ViewBag.Title = "Index";
}

<h2>Welcome to the shoppingCart BackOffice</h2>

<p>
    <h4>This is to manage the ShoppingCart web site.</h4>
    There are few sections to manage here:
    <ul>
        <li>For viewing about Products, find our @Html.ActionLink("Product List", "Index", "Product")</li>
        <li>For managing Product Categories, find our @Html.ActionLink("Category List", "Index", "Categories")</li>
        <li>For managing Orders, find our @Html.ActionLink("Order List", "Index", "Cart")</li>
        <li>For managing Users, find our @Html.ActionLink("User List", "Index", "User")</li>
        <li>For managing Roles, find our @Html.ActionLink("Role List", "Index", "Role")</li>
    </ul>
</p>

