@model IEnumerable<ShoppingCart.BackOffice.ViewsModels.CartsViewModel>

@{
    ViewBag.Title = "Carts";
}

<h2>Carts</h2>

@foreach (var item in Model)
{
    <div class="panel panel-default">
        <div class="panel-heading">@item.UserName</div>
        <div class="panel-body">
            <h2>Products</h2>
            <ul>
                @foreach (var cartLine in item.CartLines)
                {
                    <li>
                        <span class="badge">@cartLine.Quantity</span>
                        @cartLine.Product.Name
                    </li>

                }
            </ul>
            <h2>Ship to :</h2>
                @item.ShippingDetail.Name<br />
                At : @item.ShippingDetail.Address<br />
                Phone : @item.ShippingDetail.PhoneNumber
        </div>
    </div>
}
