@using ShoppingCart.Models.Models.Entities;
@model IEnumerable<ShoppingCart.BackOffice.ViewsModels.CartsViewModel>

@{
    ViewBag.Title = "Carts";
}

@{
    int pendingCartsCount = ViewBag.ShippingStateCounts[ShippingState.Pending];
    int deliveredCartsCount = ViewBag.ShippingStateCounts[ShippingState.Delivered];
    int canceledCartsCount = ViewBag.ShippingStateCounts[ShippingState.Canceled];
}

<h2>Carts</h2>
<ul class="nav nav-pills" role="tablist">
    <li role="presentation" @if (ViewBag.ActiveTab == ShippingState.Pending) {<text>class="active"</text>}>
        <a href=@Url.Action("Index", new { id = ShippingState.Pending })>
            Pending
            <span class="badge" id="pending">@pendingCartsCount</span>
        </a>
    </li>
    <li role="presentation" @if (ViewBag.ActiveTab == ShippingState.Delivered) {<text>class="active"</text>}>
        <a href=@Url.Action("Index", new { id = ShippingState.Delivered })>
            Delivered
            <span class="badge" id="delivered">@deliveredCartsCount</span>
        </a>
    </li>
    <li role="presentation" @if (ViewBag.ActiveTab == ShippingState.Canceled) {<text>class="active"</text>}>
        <a href=@Url.Action("Index", new { id = ShippingState.Canceled })>
            Canceled
            <span class="badge" id="canceled">@canceledCartsCount</span>
        </a>
    </li>
</ul>
@if (ViewBag.ShippingStateCounts[ViewBag.ActiveTab] == 0)
{
    <p>There is no @ViewBag.ActiveTab cart.</p>
}
else
{
    var n = @ViewBag.ShippingStateCounts[ViewBag.ActiveTab];
    <p>There @if (n > 1) {<span id="be">are</span>} else {<span>is</span>} <span id="n">@n</span> @ViewBag.ActiveTab cart@{
        if (n > 1) {<span id="plural">s</span>} }.</p>
}
@{ var i = 0; }
@foreach (var item in Model)
{
    <div class="panel panel-default" data-id=@item.Id>
        <div class="panel-heading">@item.UserName</div>
        <div class="panel-body">
            <h2>Products</h2>
            <ul>
                @foreach (var cartLine in item.CartLines)
                {
                    <li>
                        <span class="badge">@cartLine.Quantity</span>
                        @cartLine.Product.Name
                    </li>

                }
            </ul>
            <h2>Ship to :</h2>
                @item.ShippingDetail.Name<br />
                At : @item.ShippingDetail.Address<br />
                Phone : @item.ShippingDetail.PhoneNumber
            @Html.DropDownList("ShippingState",
                  EnumHelper.GetSelectList(typeof(ShippingState),
                                           item.ShippingState),
                  new { @class = "form-control", id = "ShippingState" + @i })
        </div>
    </div>
    i++;
}

@section scripts
{
    <script type="text/javascript">
        $("select[name=ShippingState]").change(function(e) {
            var id = $(e.target).parent().parent().attr("data-id");
            var state = $(e.target).val();
            var arr = { id: id, state: state};
            var lookup = {
                "Pending": 0,
                "Canceled": 1,
                "Delivered": 2
            };
            $(e.target).parent().parent().hide();
            $.ajax({
                    url: "@Url.Action("Index", "Cart")",
                    type: "POST",
                    data: JSON.stringify(arr),
                    contentType: "application/json; charset=utf-8",
                    success: function (response) {
                        if (state == lookup["@ShippingState.Pending"]) {
                            $("#pending").text(parseInt($("#pending").text()) + 1);
                        } else if (state == lookup["@ShippingState.Delivered"]) {
                            $("#delivered").text(parseInt($("#delivered").text()) + 1);
                        } else if (state == lookup["@ShippingState.Canceled"]) {
                            $("#canceled").text(parseInt($("#canceled").text()) + 1);
                        }
                        if ("@ViewBag.ActiveTab" == "@ShippingState.Pending") {
                            $("#pending").text(parseInt($("#pending").text()) - 1);
                        } else if ("@ViewBag.ActiveTab" == "@ShippingState.Delivered") {
                            $("#delivered").text(parseInt($("#delivered").text()) - 1);
                        } else if ("@ViewBag.ActiveTab" == "@ShippingState.Canceled") {
                            $("#canceled").text(parseInt($("#canceled").text()) - 1);
                        }
                        $("#n").text(parseInt($("#n").text()) - 1);
                        if (parseInt($("#n").text()) < 2) {
                            $("#be").text("is");
                        }
                        if (parseInt($("#n").text()) == 0) {
                            $("#n").text("no");
                        }
                    }
                });
            });
    </script>
}
